.overlay.overlay-cornershape(data-path-to='M 0,0 c 0,0 63.5,-16.5 80,0 16.5,16.5 0,60 0,60 L 0,60 Z')
    svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewBox="0 0 80 60", preserveaspectratio='none')
        path.overlay-path(d='M 0,0 c 0,0 -16.5,43.5 0,60 16.5,16.5 80,0 80,0 L 0,60 Z' fill="{{fill}}")
    div.inner-popup
        div.wrapper-portfolio-popup
            .close.pe-7s-close-circle(ng-click="closePortfolio(protfolioVideo)")
            .full-screen.pe-7s-expand1(ng-click="toFullScreen(protfolioVideo)")
            ul.list-portfolio-video
                li
                    .video
                        youtube-video(player-width="'100%'" player-height="'100%'" video-id="data.video" player-vars="playerVars" player="protfolioVideo")
            ul.switch-slider
                li.prev(ng-if="index>0")
                    a.pe-7s-angle-left-circle(href="" ng-click="popup.prevMain(data,index)")
                li.next(ng-if="index<defaultMainLenght+currentAdd*3 - 1")
                    a.pe-7s-angle-right-circle(href="" ng-click="popup.nextMain(data,index)")
                li.redirect
                    a(href="./portfolio.html") Подробнее
