svg(version='1.1', baseprofile='tiny', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0', y='0', ng-width='{{widthImg||0}}', ng-height='{{heightImg||0}}', ng-viewbox='0 0 {{widthImg}} {{heightImg}}', xml:space='preserve')
