footer.footer
    .copyright
        span TWENTY | TWELVE Business
        span основана в 2010 г.
    a.firm-logo(href='http://tutmee.ru')
        div
            span Создание дизайна
            span и разработка сайтов
            span LTD Tutmee.ru
        div
            img(src='./images/firm-logo.png')
    ul.social
        li
            a(target="_blank" href="http://www.youtube.com/user/pooziq/videos")
                span.fa.fa-youtube-play
        li
            a(target="_blank" href="https://vimeo.com/")
                span.fa.fa-vimeo-square
        li
            a(target="_blank" href="https://instagram.com/twentytwelve.pro/")
                span.fa.fa-instagram
        li
            a(target="_blank" href="http://vk.com/twentytwelveru")
                span.fa.fa-vk
        li
            a(target="_blank" href="https://www.facebook.com/TwentyTwelveRU")
                span.fa.fa-facebook-official