meta(charset='utf-8')
meta(name="viewport" content="width=1500")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Description")
meta(name="keywords" content="Keywords")
title SOFAEXPERT
link(href="./styles/application.css" rel="stylesheet")
link(rel="icon" type="image/png" href="./images/favicon.png")