div.w(ng-if="formIsValide==true")
    div(class="wrapper-thank" ng-class="{'load':load==true}")
        div.close(ng-click="hideThank()" rotate)
            span
        div.wrapper-thank-content
            img(src="./images/logo.png" alt="logo")
            span Спасибо за заявку!
            span В ближайшее время, наш сотрудник, обязательно с Вами свяжется.