//- index.jade
extends ../layout-page.jade
block aside
    +aside('main')
block content
    // .pages-small-menu - ставиться только на страницах черного меню, cooperation - только на странице cooperation.html
    section.content-block.pages-small-menu
        article.content
            img(src="./images/about-img.jpg")
            h1 Транспортно-логистическая компания "SK-INTER",
            h2 сочетающая в себе:
            ul
                li Огромный опыт в сфере грузоперевозок.
                li Знания специфики работы с Китаем.
                li Штаб опытных специалистов по таможенному оформлению, логистов, квалифицированных переводчиков.
                li Имея, отлаженные схемы доставок.
            h3 Представляет Вашему вниманию проект, под названием "SOFAEXPERT"
            h1 Идея и уникальность этого проекта
            p SOFAEXPERT- целиком и полностью посвящен вопросу, организации выгодной покупки и доставки мебели из Китая
            ul
                li Заказать эксклюзивную кухню по собственному дизайну.
                li Приобрести необычный, оригинальный декор, который сделает Ваш интерьер неповторимым.
                li Купить качественную сантехнику и мебель для ванных комнат.
                li Разнообразный текстиль для дома.
                li Уникальное световое решение.
                li Строительные, отделочные материалы.
                li Мягкая мебель.
                li Шикарные спальни.

