//- index.jade
extends ../layout.jade
block aside
    +aside('main')
block content
    move-slider
    section.content-main
        h1.title(fadein3d)
            span Почему именно мы?
        ul.list-main-contant(fadein3d)
            li Индивидуальный подход к каждому клиенту
            li Профессиональное сопровождение на всех этапах
            li Гарантируем сохранность и исполнение заявленных сроков, при доставки мебели и других товаров
            li Мы знаем специфику работы с Китаем, имеем богатый практический опыт
            li Все услуги предоставляем "под ключ" от покупки до доставки к дверям, в любой город России
            li Индивидуальный подход к каждому клиенту
            li Профессиональное сопровождение на всех этапах
            li Гарантируем сохранность и исполнение заявленных сроков, при доставки мебели и других товаров
            li Мы знаем специфику работы с Китаем, имеем богатый практический опыт
            li Все услуги предоставляем "под ключ" от покупки до доставки к дверям, в любой город России
            li Индивидуальный подход к каждому клиенту
            li Профессиональное сопровождение на всех этапах
            li Гарантируем сохранность и исполнение заявленных сроков, при доставки мебели и других товаров
            li Мы знаем специфику работы с Китаем, имеем богатый практический опыт
            li Все услуги предоставляем "под ключ" от покупки до доставки к дверям, в любой город России
        p Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту Индивидуальный подход к каждому клиенту