//- index.jade
extends ../layout-page.jade
block aside
    +aside('main')
block content
    section.content-block
        header.header-content
            p.form-description Если вы хотите получать получать самую последнюю информацию, а также быть в курсе пополнения ассортимента мебели на нашем сайте, вы можите оформить подписку.
            .wrapper-subscribe
                form.form-validate(name="formValidate" is-valide-border="{{formValidate.$invalid}}" novalidate ng-controller="SubscribeCtrl")
                    div
                        input(type="email" name="email" placeholder="ВАШ E-mail" ng-model='dataForm.subscribe' autocomplete="off" required)
                        input(type="hidden" ng-init="dataFormHidden.task = 'subscribe'")
                        button.send(ng-click="send(dataForm,formValidate)") Оформить подписку
        ul.list-articles
            li
                a(href="./article.html")
                    img(src="./images/list-articles/1.jpg")
                h1.title
                    a(href="./article.html") Особенности оформления  заказов при покупке мебели в Китае
                .info-block
                    span.views 185
                    time.time 27.04.2015
                p Трудно влюбиться в классическую мебель с первого взгляда, потому что в Китае её слишком много и обычно на третий день походов по магазинам она набивает оскомину. Классика, неоклассика, барокко, рококо – всё сливается в пёстрый ряд резных фасадов, но глаз может так и не зацепиться ни за что, пока не встретишь Это! Знакомьтесь, марка «U Home» —  для особо придирчивых знатоков французской и английской классики начала XIX в. (этот материал некоммерческий и публикуется в знак благодарности, за предоставленные моим клиентам большие скидки).деятельности, которая определит его как торговую компанию или производителя. <a href="./article.html" class="more">Читать далее</a>
            li
                a(href="./article.html")
                    img(src="./images/list-articles/2.jpg")
                h1.title
                    a(href="./article.html") Особенности оформления  заказов при покупке мебели в Китае
                .info-block
                    span.views 185
                    time.time 27.04.2015
                p Трудно влюбиться в классическую мебель с первого взгляда, потому что в Китае её слишком много и обычно на третий день походов по магазинам она набивает оскомину. Классика, неоклассика, барокко, рококо – всё сливается в пёстрый ряд резных фасадов, но глаз может так и не зацепиться ни за что, пока не встретишь Это! Знакомьтесь, марка «U Home» —  для особо придирчивых знатоков французской и английской классики начала XIX в. (этот материал некоммерческий и публикуется в знак благодарности, за предоставленные моим клиентам большие скидки).деятельности, которая определит его как торговую компанию или производителя. <a href="./article.html" class="more">Читать далее</a>
            li
                a(href="./article.html")
                    img(src="./images/list-articles/1.jpg")
                h1.title
                    a(href="./article.html") Особенности оформления  заказов при покупке мебели в Китае
                .info-block
                    span.views 185
                    time.time 27.04.2015
                p Трудно влюбиться в классическую мебель с первого взгляда, потому что в Китае её слишком много и обычно на третий день походов по магазинам она набивает оскомину. Классика, неоклассика, барокко, рококо – всё сливается в пёстрый ряд резных фасадов, но глаз может так и не зацепиться ни за что, пока не встретишь Это! Знакомьтесь, марка «U Home» —  для особо придирчивых знатоков французской и английской классики начала XIX в. (этот материал некоммерческий и публикуется в знак благодарности, за предоставленные моим клиентам большие скидки).деятельности, которая определит его как торговую компанию или производителя. <a href="./article.html" class="more">Читать далее</a>
